<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Clothing Brand</title>
    <link rel="stylesheet" href="style2.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <h1>Twilight</h1>
                <div class="nav-links">
                    <a href="index.html">Home</a>
                    <a href="product.html">Products</a>
                    <a href="podcast.html">Podcast</a>
                    <a href="login.html">login</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="wrapper">
        <div class="left_wrapper">
            <div class="heading">
                <h1>Your Podcasts<br>Publishing Platform.</h1>
                <p>
                Welcome to Twilight Podcast, where the talk is all about change and transformation.
                 <br>We’re here to break down the real stuff—the highs, the lows, and everything in between.
                  <br>This isn’t just a podcast; it’s your space to connect, vibe, and find your people.<br>
                   Dive in with us as we explore what’s up in the world and create a chill, safe zone for teens.
                   Have fun as we dive deep and remember,<br>
                    <br><br> “Not day, not night,Twilight”<br>
                    <br>embrace the in-between.
                </p>
            </div>
            <div class="btn__container">
                <button class="start">Start 14 days free trial</button>
               <button><i class="fa-solid fa-circle-play"></i> Watch Demo</button>
            </div>
            <div class="text_container">
                <p>50,000+ people use Podcast<br>to manage their podcasts</p>
                <i></i>
                <div class="icons">
                    <p><i class="fa-brands fa-shopify"></i> Spotify</p>
                    <p><i class="fa-brands fa-slack"></i> Apple Podcast</p>
                </div>
            </div>
        </div>
        <div class="right_wrapper">
            <img src="YouTube-Copyright-Claim-1200x675.webp" alt="Podcast Image">
        </div>
    </div>  
</body>
</html>


      